---
import BaseLayout from "../layouts/BaseLayout.astro";
import GeneralContent from "../layouts/GeneralContent.astro";
import headshot from '../assets/mrt_logo.png';
import bgImage from '../assets/rovergroup1.jpg'
import Stats from "../components/Stats.astro"
const page_title = "rover @ jhu";

import { SUBTEAMS } from '../team'

import { getEntry, render } from 'astro:content';
const entry = await getEntry('general', 'home');

if (!entry) {
  throw new Error('Could not find "home" content');
}
const { Content, headings, remarkPluginFrontmatter } = await render(entry);
---

<BaseLayout page_title={page_title}>
  <style>
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .animate-fadeIn {
      animation: fadeIn 1s ease-in-out forwards;
    }

  </style>
  <div
    class="hero min-h-screen"
    style=`background-image: url(${bgImage.src});`
  >
    <div class="hero-overlay"></div>
    <div class="hero-content flex flex-col items-center justify-center text-neutral-content text-center">
      <img
          class="flex w-75 h-75 animate-fadeIn"
          src={headshot.src}
        />
      <div class="max-w-md">
        <div class="opacity-0 animate-fadeIn"
          style="animation-delay: 1500ms;">
          <h1 class="pt-10 mb-5 text-5xl font-bold text-shadow-lg/50 text-shadow-primary">
            HOPKINAUTS
          </h1>
          <p class="text-2xl mb-5 text-shadow-lg/50 text-shadow-primary">
            the Mars Rover Team
          </p>
          <p class="mb-5 italic text-xl text-shadow-lg/50 text-shadow-primary">
            @ Johns Hopkins University
            <!-- an engineer committed to building solutions to advance human wellfare. -->
          </p>
          <a href="#content"><div class="animate-bounce translate-y-5">
            <span class="indicator-item indicator-bottom indicator-center badge py-4 text-xl shadow-lg/50 shadow-base-100">↓</span>
          </div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center py-10">
    <Stats/>
  </div>
  <div class="flex flex-row flex-wrap justify-center py-5 gap-10">
    <a href="contact"><button class="btn btn-xl btn-accent">Join the Team</button></a
    >
    <a href="sponsor"><button class="btn btn-xl btn-accent">Sponsor the Rover</button></a
    >
  </div>
  <GeneralContent>
    <div class="hero">
      <div class="hero-content flex-col lg:flex-row gap-10">
        <div class="max-w-[35vw]">
          <h2 class="underline decoration-primary py-5">Our Mission</h2>
          <p>The mission of the Hopkinauts Mars Rover Team is to design
             and build a Mars rover, a space vehicle suited to traverse 
             across Mars' terrain, collect soil samples, conduct tasks 
             using a robotic arm, and more. The team will offer practical 
             engineering and science education and soft skills to 
             students at Johns Hopkins University.</p>
        </div>
        <div
          class="w-full flex flex-row gap-5 items-center justify-center flex-wrap"
        >
        {
          SUBTEAMS &&
          SUBTEAMS.map( (team) => (
            <a href={`#${team.label}`}>
              <figure class="max-w-[150px] tooltip"
              data-tip={team.name}>
                <img src={team.img}
                  style="border-radius: 2em;"/>
              </figure>
            </a>
          ))
        }
        </div>
      </div>
    </div>

		<Content />
  </GeneralContent>
  
</BaseLayout>
