---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Menu from '../components/Menu.astro'
import EntryTitle from "../components/EntryTitle.astro";
import BaseLayout from "./BaseLayout.astro";

const active_nav = "rover";
type Props = CollectionEntry<"updates">["data"];

const { title, thumbnail, location, date } = Astro.props;
---

<BaseLayout page_title={title} active_nav={active_nav}>
  <div class="content">
    <!-- Menu -->
    <Menu back_href='/updates/'/>
    <!-- Content -->
    <main>
      <article>
        <div class="hero-image">
          {thumbnail 
            ? <img class='max-w-full w-auto max-h-50vh mx-auto' src={thumbnail.src} alt="" /> 
            : <div class="skeleton max-w-full w-auto h-100 max-h-50vh mx-auto"></div>}
        </div>
        <div class="prose py-10 leading-8">
          <div class="title">
            <EntryTitle>
              {title}
            </EntryTitle>
            <div class="flex flex-row gap-2 py-2">
              {date && <div class="badge badge-info italic"><FormattedDate date={date} /></div>}
              {location && <div class="badge badge-info italic">{location}</div>}
            </div>
            <div class="divider divider-primary">
              <a class="indicator" href="#content">
                <span class="animate-pulse indicator-item indicator-bottom indicator-center badge bg-accent text-lg">↓</span>
              </a>
            </div>
          </div>
          <div id="content">
            <slot />
          </div>
        </div>
      </article>
    </main>
  </div>
</BaseLayout>
