---
import type { CollectionEntry } from "astro:content";
import BlogDate from "../components/BlogDate.astro";
import Menu from '../components/Menu.astro'
import EntryTitle from "../components/EntryTitle.astro";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";

const active_nav = "rover";
type Props = CollectionEntry<"updates">["data"];

const { title, thumbnail, date, tags, draft } = Astro.props;
const page_title = title + " | rover @ jhu"
---

<BaseLayout page_title={page_title} active_nav={active_nav}>
  <div class="content">
    <!-- Menu -->
    <Menu back_href='/updates/'/>
    <!-- Content -->
    <main>
      <article>
        <div class="hero-image">
          {thumbnail 
            ? <Image class='max-w-full w-auto max-h-50vh mx-auto' src={thumbnail} alt="" /> 
            : <div class="skeleton max-w-full w-auto h-100 max-h-50vh mx-auto"></div>}
        </div>
        <div class="prose py-10 leading-8">
          <div class="title">
            <EntryTitle>
              {title}
            </EntryTitle>
            <div class="flex flex-row gap-2 py-2 flex-wrap">
              <div class="badge badge-info date italic">
                <BlogDate date={date} />
              </div>
              {tags && tags.map(tag => (
              <div class="badge badge-primary italic">{tag}</div>
              ))}
            </div>
            <div class="divider divider-secondary">
              <a class="indicator" href="#content">
                <span class="animate-pulse indicator-item indicator-bottom indicator-center badge bg-accent text-lg">↓</span>
              </a>
            </div>
          </div>
          <div id="content">
            <slot />
          </div>
      </article>
    </main>
  </div>
</BaseLayout>
